.vs
WsAdministracionVariables/[Bb]in/
WsAdministracionVariables/[Oo]bj/Debug/
WsAdministracionVariables/[Oo]bj/Release/
.sonarlint/
WsAdministracionVariables/WsAdministracionVariables.ruleset
WsAdministracionVariables/DLL
WsAdministracionVariablesTest/[Oo]bj/Debug/
WsAdministracionVariablesTest/[Oo]bj/Release/
WsAdministracionVariablesTest/[Bb]in/